
body{
    background-image: url("../graphics/bg3.png");
    background-size: cover;
    background-attachment: fixed;
    opacity:1;
    color: #ddd;
    font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 20px;
}

header {
    background-image: url("../graphics/bg3.png");
    background-attachment: fixed;
    background-size: cover;
    width: 89%;
    font-size: 40px;
    text-align: right;
    margin-bottom: 10%;
    position: fixed;
    z-index: +1;
}   

.foot{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-left: 20%;
    text-align:justify;
    margin-bottom: 2%;
    float:bottom;
}

footer section a:hover{
    color: #83b562;
}


.bars { display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: minmax(500px, auto);
    padding-left: 0%;
    text-align:justify;
    padding-top: 5%;
    overflow-x: hidden;
} 

a{
    text-decoration: none;
    color: #ddd;
}

#diff_tcolor{
    color: #83b562;
}
section[class="bars"] > section > ul > li{
    line-height: 2em;
    list-style: none;
    padding-right:5%;
    text-align: left;
}
.hobbies{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align:center;
}

.indihobby{
    margin-bottom: 5%;
}
.formed{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1em;
    padding-left: 10%;
}

input[type="submit"] {
    width: 8em;
    height: 2em;
}

input[type="submit"]:hover {
    width: 8em;
    height: 2em;
    color:#83b562;
}

input[type="reset"] {
    width: 8em;
    height: 2em;
}

input[type="reset"]:hover {
    width: 8em;
    height: 2em;
    color:#83b562;
}

.nested{
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    width: 15%;
}

.frames{
    width: 80%;
    height:auto;
}
textarea {
   resize: none;
   width: 80%;
   height: 100%;
}

#name{
    size=40;
    font-size:15px;
}


@media screen and (max-width: 950px){

    body{
        font-size: 18px;
    }
    header {
        width: 89%;
        font-size: 30px;
    }   

    .foot{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        margin-bottom: 2%;
        text-align: left;
    }
    .bars
    {
        display: grid;
        grid-template-columns: 20% 75% 5%;
        grid-template-rows: minmax(500px, auto);
        padding-left: 0%;
        padding-top: 3%;
        grid-template-rows: minmax(300px, auto);
    } 

    section[class="bars"] > section > ul > li{
        padding-right:3%;
    }

    .hobbies{
        display: grid;
        grid-template-columns: 100%;

    }

    .formed{
        display: grid;
        grid-template-columns: 25% 75%;
        padding-left: 5%;
    }

    .indihobby{
        margin-bottom: 3%;
    }


    textarea {
       font-size: 15px;
    }

    .nested{
        width: 15%;
    }

    .frames{
        width: 60%;
        height: 250px;
    }

    textarea {
        resize: none;
        width: 60%;
        height: 80%;
    }

    #name{
        size=20;
    }
}