
body{
    background-image: url("../graphics/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity:1;
    color: #ddd;
    font-family: Palatino, 'Palatino Linotype', serif;
}

header {
	font-size: 50px;
    padding-left: 30px;
    text-align: right;
    margin-bottom: 10px;
    position: fixed;
}   

.foot{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-left: 20%;
    text-align:justify;
    margin-bottom: 20px;
    float:bottom;
    font-size:25px;
}


.bars { display: grid;
    grid-template-columns: 20% 80%;
    padding-left: 10px;
    text-align:justify;
    padding-top: 5%;
    overflow-x: hidden;
} 

a{
    text-decoration: none;
    color: #ddd;
}

#diff_tcolor{
    color: #83b562;
}
div[class="bars"] > div > ul > li{
    line-height: 2em;
    list-style: none;
    padding-right: 10%;
    font-size:25px;
    text-align: left;
}
.hobbies{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-left: 10%;
    text-align:center;
    margin-bottom: 20px;
    font-size:20px;
}

h2{
    font-size:20px;
}

.formed{
    font-size:20px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1em;
}

input[type="submit"] {
    width: 8em;
    height: 2em;
    font-size:20px;
}

input[type="submit"]:hover {
    width: 8em;
    height: 2em;
    font-size:20px;
    color:#83b562;
}

input[type="reset"] {
    width: 8em;
    height: 2em;
    font-size:20px;
}

input[type="reset"]:hover {
    width: 8em;
    height: 2em;
    font-size:20px;
    color:#83b562;
}

.subres{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: justify;
    padding-top: 3%;
}

.nested{
    padding-left: 0%;
    position: left fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}